/* Styles for the slider container */
.slider-container {
    margin: 20px auto;
    padding: 10px;
   
    
   
  }
  .slider-image {
   border-radius: 10px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important; /* Hide arrows on mobile and tablet */
    }
  
    .slider-image {
      height: 200px; 
    }
  
    .slider-container {
      padding: 5px;
    }
  }
  
  /* For larger screens (above 768px) */
  @media (min-width: 769px) {
    .slider-image {
      height: auto; 
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      color: #333; /* Change the color of arrows */
    }
  }

  @media (min-width: 1024px) {
    .slider-container {
      max-width: 75%;
    }
  
    .slider-image {
      height: 80vh; 
    }
  }
  


  .select-filter {
    width: 100%; 
  }
  
  @media (max-width: 400px) {
    .select-filter {
      width: 15px; 
    }
  }