@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
:root {
  --background-color: black;
  --text-color: white;
  --button-border-color: white;
}
/* Dark Mode */
[data-theme="dark"] {
  --background-color: white;
  --text-color: black;
  --button-border-color: black;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Montserrat", system-ui;
}
button {
  color: var(--text-color);
  border-color: var(--button-border-color);
}



/* Ensure the video covers the entire background and is responsive */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}

/* Ensure the background image covers the entire background and is responsive */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .video-background,
  .background-image {
    filter: blur(3px);
  }
}

@media (max-width: 480px) {
  .video-background,
  .background-image {
    filter: blur(2px);
  }
}






